.ccls-cache/
.idea/
.cache/

cmake-build-debug/
build/
bin/

toolchain/bin/
toolchain/binutils/
toolchain/binutils-build/
toolchain/gcc/
toolchain/gcc-build/
toolchain/i386-elf/
toolchain/include/
toolchain/lib/
toolchain/libexec/
toolchain/share/

src/Kernel/symbol.gen.c
src/Kernel/symbol.gen.o

compile_commands.json
qemu.log

compare-symbols.sh
symbols_stage1
symbols_stage2
